.about-section1
    background-color: rgb(255, 250, 243)
    display: flex
    padding: 3vh 0
    gap: 4vw
    .left-side
        h2
            font-family: satisfy
.icon-para
    display: flex
    gap: 1vw
    i
        color: rgb(255, 160, 18)

.about-section2
    .title-section2
        h2
            font-family: satisfy
            span
                color: rgb(255, 176, 59)
                font-family: satisfy

.inside-section2
    display: flex
    align-items: center               
    gap: 3vw 
    padding-inline: 4vw
    .hover
        height: 40vh
        width: 33vw
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0 , 0.19)
        padding-inline: 40px
        &:hover
            background-color: rgb(255, 176, 59)
            color: white
            
            h3
                padding-top: 30px
                transition: 0,5s
                color: white
        h2
            font-family: satisfy 
        h3
            padding-top: 50px
            color: rgb(255, 176, 59)
            font-weight: 800
      