.about-section1
    background-color: rgb(255, 250, 243)
    display: flex
    align-items: center
    padding: 3vh 0
    gap: 6vw
.icon-para
    display: flex
    gap: 1vw
    i
        color: rgb(255, 160, 18)

.about-section2
    div
        h2
            span
                color: rgb(255, 176, 59)

.inside-section2
    display: flex
    align-items: center               
    gap: 3vw 
    padding-inline: 4vw
    .hover
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0 , 0.19)  
        padding-top:  60px
        padding-inline: 4vw
        transition: 0.2s
        h3
            color: rgb(255, 176, 59)
            font-weight: 800
        &:hover
            background-color: rgb(255, 176, 59)
            padding-top: 40px
            padding-bottom: 20px
            color: white
            h3
                color: white