.chef-information
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: white
    .jhon
        border-radius: 50%
        width: 90px
        border: 5px solid grey
    p
        font-size: small
        text-align: center
    h5
        width: 75vw
        text-align: center
.background-img
    padding: 10vh 0
    background-image: url(../img/testimonials-bg.jpg)
    background-position: center
    background-size: cover
    position: relative
    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        height: 100%
        width:100%
        background: #000
        opacity: 0.3

@media  ( max-width: 430px )
    .chef-information
        h5
            width: 98vw